body {
   background: #6ad4a1;
}

.textNormal {
   color:#152a20
}

.textDark {
   color:#000000;
}

.textLigth {
   color:#7ffec1;
}

.textSemiDark {
   color:#2a5440;
}

.textSemiLigth {
   color:#55a981;
}

